.phone-wrapper {
  position: relative;
  overflow: visible;
  line-height: var(--line-height-none);
}

.left-bar,
.right-bar {
  top: 60%;
  transform: translateY(-50%);

  display: block;

  width: auto;
  height: 70%;
}

.left-bar {
  left: 14%;
}

.right-bar {
  right: 14%;
}

.signature-stamp {
  bottom: 15%;
  left: 0;

  display: block;

  width: auto;
  max-width: 40%;
}

.completed-image {
  top: 32%;
  right: 0%;

  display: block;

  width: auto;
  max-width: 35%;
}

.batch-scan-1,
.batch-scan-2,
.batch-scan-3 {
  left: 32%;
  transform: translateX(-50%);
  display: block;
  width: auto;
}

.batch-scan-1 {
  z-index: 2;
  top: 26%;
  left: 30%;
  max-width: 41%;
}

.batch-scan-2 {
  z-index: 2;
  top: 28%;
  left: 25%;
  max-width: 50%;
}

.batch-scan-3 {
  z-index: 2;
  top: 33%;
  left: 22%;
  max-width: 56%;
}

.export-pdf,
.export-pdf2,
.export-txt,
.export-jpg {
  z-index: 2;
  bottom: 2%;

  display: block;

  width: auto;
  max-width: 25%;
}

.export-pdf {
  bottom: 4%;
  left: 13%;
  width: 4%;
}

.export-pdf2 {
  left: 14%;
}

.export-txt {
  left: 60%;
}

.export-jpg {
  bottom: 8%;
  left: 37%;
  max-width: 23%;
}

@media (width >= 1024px) {
  .signature-stamp {
    bottom: 18%;
    left: 3%;
  }

  .completed-image {
    top: 32%;
    right: 5%;
  }

  .batch-scan-1 {
    z-index: 2;
    top: 25%;
    left: 30%;
    max-width: 41%;
  }

  .batch-scan-2 {
    z-index: 2;
    top: 26%;
    left: 27%;
    max-width: 47%;
  }

  .batch-scan-3 {
    z-index: 2;
    top: 29%;
    left: 25%;
    max-width: 61%;
  }

  .export-pdf {
    bottom: 4%;
    left: 13%;
  }
}
