.phone-wrapper {
  position: relative;
  overflow: visible;
  line-height: var(--line-height-none);
}


.left-bar,
.right-bar {
  top: 60%;
  display: block;
  width: auto;
  height: 70%;
  transform: translateY(-50%);
}

.left-bar {
  left: 12%;
}

.right-bar {
  right: 12%;
}
