.tab-nav {
  width: 100%;
  padding: 0;
  padding-bottom: 64px;
}

.tab-swiper {
  width: 100%;
}

.tab-slide {
  width: auto !important;
}

.tab-item {
  cursor: pointer;

  display: flex;
  flex-shrink: 0;
  gap: 1rem;
  align-items: center;

  padding: 32px 40px;

  color: var(--color-text-secondary);

  background: transparent;
  border: none;
  box-shadow: inset -1px 0 0 0 #e5e7eb;

  transition: all var(--transition-normal);
}

.tab-item:focus-visible {
  outline: 2px solid var(--color-primary);
  outline-offset: -2px;
}

.tab-slide:last-child .tab-item {
  box-shadow: none;
}

.tab-item.active {
  color: var(--color-text-secondary);
  background-color: var(--color-primary-light);
  box-shadow: inset -1px 0 0 0 #e5e7eb;
}

.tab-slide:last-child .tab-item.active {
  box-shadow: none;
}

.icon-wrapper {
  position: relative;
  flex-shrink: 0;
  width: 56px;
  height: 56px;
}

.tab-item.active .icon-wrapper::before {
  content: '';

  position: absolute;
  inset: 0;

  background-color: var(--color-white);
  border-radius: 50%;
}

.icon-circle-bg {
  position: absolute;
  z-index: 1;
  inset: 0;

  width: 56px;
  height: 56px;

  fill: none;
  stroke: var(--color-overlay-light);
  stroke-width: 2;
}

.icon-circle {
  position: absolute;
  z-index: 1;
  inset: 0;
  transform: rotate(-90deg);

  width: 56px;
  height: 56px;

  fill: none;
  stroke: var(--color-primary);
  stroke-dasharray: 176;
  stroke-dashoffset: -176;
  stroke-width: 2;

  transition: stroke-dashoffset 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.tab-item.active .icon-circle {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.tab-icon {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 32px;
  height: 32px;
}

.tab-item.active .tab-icon {
  filter: brightness(0) saturate(100%) invert(32%) sepia(93%) saturate(1697%)
    hue-rotate(200deg) brightness(101%) contrast(101%);
}

.tab-label {
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: var(--color-black);
  letter-spacing: 0;
  white-space: nowrap;
}

@media (width >= 1024px) {
  .tab-item:not(.active):hover {
    box-shadow:
      inset 0 0 0 3px var(--color-primary),
      inset -1px 0 0 0 #e5e7eb;
  }

  .tab-slide:last-child .tab-item:not(.active):hover {
    box-shadow: inset 0 0 0 4px var(--color-primary);
  }

  .tab-nav {
    display: flex;
    justify-content: center;
    max-width: 1600px;
    padding: 0 64px 64px;
  }

  .tab-swiper {
    width: 100%;
  }

  .tab-item.active {
    color: var(--color-primary);
  }
}
