.section {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  padding: var(--spacing-4);
}

.container {
  flex: 1;
  margin: 0 auto;
}

.swiper-hidden {
  display: none;
}

.slide-content-area {
  flex: 1;
  max-width: 1400px;
}

.content-wrapper {
  min-height: 325px;
  padding-top: var(--spacing-8);
  padding-bottom: 0;
}

.phone-container {
  position: relative;
  overflow: hidden;
  min-height: 340px;
}

.phone-wrapper {
  z-index: 1;
  bottom: 0;
  left: 0;
  line-height: 0;
}

.tab-wrapper {
  position: relative;
  z-index: 10;

  margin-right: calc(var(--spacing-4) * -1);
  margin-left: calc(var(--spacing-4) * -1);

  background-color: var(--color-background);
}

@media (width >= 1024px) {
  .section {
    align-items: center;
    justify-content: center;
    padding: var(--spacing-4);
  }

  .container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }

  .slide-content-area {
    flex-direction: row;
    gap: var(--spacing-8);
    align-items: center;
    justify-content: space-between;

    max-width: 1450px;
    padding: 0 64px;
  }

  .content-wrapper {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    order: 2;

    min-height: auto;
    padding-top: 0;
    padding-right: 64px;
    padding-bottom: 0;
  }

  .phone-container {
    position: relative;

    overflow: hidden;
    display: flex;
    flex: 1;
    align-items: center;
    order: 1;

    aspect-ratio: unset;
    min-height: 485px;
    padding-left: 64px;
  }

  .phone-wrapper {
    position: relative;
    bottom: auto;
    left: auto;
    width: 100%;
  }

  .tab-wrapper {
    display: flex;
    justify-content: center;

    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
  }
}
